<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] [%d{yyyy/MM/dd HH:mm:ss.SSS}] [%C] [%t] - %m%n" />
        </layout>
    </appender>

    <category name="us.jubat" additivity="false">
        <priority value="debug" />
        <appender-ref ref="stdout" />
    </category>

    <category name="com.ning.http.client.providers.netty" additivity="false">
        <priority value="debug" />
        <appender-ref ref="stdout" />
    </category>

    <appender name="empty" class="org.apache.log4j.varia.NullAppender">
        <param name="threshold" value="debug" />
    </appender>

    <root>
        <appender-ref ref="empty"/>
    </root>
</log4j:configuration>
